  @model IEnumerable<CyberStyle.Models.Pago>

@{
    ViewBag.Title = "Lista de Compras";
}

<h2>Listado de Compras</h2>


<table class="table table-bordered">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.idusuario)
        </th>
    </tr>
    <tr>
        <td>
            @foreach (var item in Model)
            {



                @Html.DisplayFor(modelItem => item.idusuario)

                if(item.idusuario == 1)
                {
                    break;
                }


            }
        </td>
            </ tr >
</table>

<table class="table table-bordered">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.idpago)
        </th>
      
        <th>
            @Html.DisplayNameFor(model => model.fechaPago)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nomTarjeta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.numTarjeta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.annio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.mes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cvv)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.total)
        </th>
        
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.idpago)
        </td>
       
        <td>
            @Html.DisplayFor(modelItem => item.fechaPago)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nomTarjeta)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.numTarjeta)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.annio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.mes)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cvv)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.total)
        </td>
       
    </tr>
}

</table>
