
@{ Layout = null; }

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Pago</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
</head>
<body style="background: #F5F5F5;">
    @{ Decimal total = 0; }

    <div class="container mt-4" style="background:white;padding:20px;">
        <div class="boxPay">
            <h4>METODO DE PAGO</h4>
            <div class="metodo_pago">
            </div>
            <form action="/Pago/FinalizarCompra" method="post">
                <div class="pago-pay">
                    <div class="row">
                        <div class="col-12">
                            <label>Nombre impreso en la tarjeta</label>
                            <input type="text" class="form-control" name="nomTarjeta">
                        </div>
                        <div class="col-12">
                            <label>Numero de tarjeta</label>
                            <input type="text" placeholder="Ejem : 9988-8787-7774-9994" name="numTarjeta" class="form-control">
                        </div>
                        <div class="col-2">
                            <label>Mes</label>
                            <input type="text" class="form-control" name="mes">
                        </div>
                        <div class="col-2">
                            <label>Año</label>
                            <input type="text" placeholder="Mes" class="form-control" name="annio">
                        </div>
                        <div class="col-3">
                            <label>Cod. Seguridad</label>
                            <input type="text" placeholder="Año" class="form-control" name="cvv">
                        </div>
                    </div>
                </div>
                <div style="width:90%;height:100px;display:flex;justify-content:space-between;align-items:center;">
                    <button class="btn btn-primary" type="submit" style="width:250px;">Comprar</button>
                </div>
            </form>
        </div>
    </div>
    <div class="container mb-4" style="background:white;padding:20px;margin-top:10px;">
        <table class="table">
            <thead>
                <tr class="text-center">
                    <th>Imagen</th>
                    <th>Producto</th>
                    <th>Cantidad</th>
                    <th>Sub Total</th>
                </tr>
            </thead>
            <tbody>


                @if (Session["carrito"] != null)
                {

                    foreach (var item in Session["carrito"] as List<CyberStyle.Models.CarritoItem>)
                    {
                        total += (decimal)(@item.Cantidad * @item.Producto.precio);
    <tr class="text-center">
        <td><img src="@Url.Action("getImage","Producto", new { id = item.Producto.idproducto})" width="70px" /></td>
        <td>@item.Producto.nombre</td>
        <td>@item.Cantidad</td>
        <td>@String.Format("{0:C}", @item.Cantidad * @item.Producto.precio)</td>
        <td width="10px"><button class="btn btn-link" style="color:red;">Eliminar</button></td>
    </tr>}
                }
            </tbody>
        </table>
        <div>
            <p>Total a pagar: S/@total</p>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</body>
</html>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script>
    window.watsonAssistantChatOptions = {
        integrationID: "56785897-5dd7-45ad-ae02-39458dd43785", // The ID of this integration.
        region: "au-syd", // The region your integration is hosted in.
        serviceInstanceID: "ab7516c2-e0f5-4e57-b5f1-cc3f3e712847", // The ID of your service instance.
        onLoad: function (instance) { instance.render(); }
    };
    setTimeout(function () {
        const t = document.createElement('script');
        t.src = "https://web-chat.global.assistant.watson.appdomain.cloud/versions/" + (window.watsonAssistantChatOptions.clientVersion || 'latest') + "/WatsonAssistantChatEntry.js";
        document.head.appendChild(t);
    });
</script>
