@model  IEnumerable<CyberStyle.Models.p_productoMasVendido02_Result>

@{ Layout = null; }

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>CIBERSTYLE</title>
    <link rel="icon" type="image/x-icon" href="../Content/Imagenes/favicon.ico" />
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    <!-- Google fonts-->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=Newsreader:ital,wght@0,600;1,600&amp;display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,300;0,500;0,600;0,700;1,300;1,500;1,600;1,700&amp;display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,400;1,400&amp;display=swap" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <!-- Core theme CSS (includes Bootstrap)-->
    @Styles.Render("~/Content/styles.css")
    <style>
        .card {
            margin: 5px;
        }
    </style>
    <script>
        window.onload = function () {

            var valor = 0;

            $('#openCart').click(function () {

                if (valor == 0) {
                    $('#carritoModal').css("top", "0")
                    $('#carritoModal').css("transition", "all .5s ease-in-out")
                    valor = 1;
                    if (valor == 1) {
                        setTimeout(function () {
                            // $('#carritoModal').css("background-color", "rgba(130, 130, 130,0.4)")
                        }, 300);
                    }
                }
                else if (valor == 1) {
                    valor = 0;
                    setTimeout(function () {

                        if (valor === 0) {
                            setTimeout(function () {
                                // $('#carritoModal').css("background", "rgba(130, 130, 130,0)")
                            }, 0.0);
                        }
                        setTimeout(function () {
                            $('#carritoModal').css("top", "-1000px");
                            $('#carritoModal').css("transition", "all .5s ease-in-out")
                        }, 50);

                    }, 0.0)

                }

            });

            $('#seguirComp').click(function () {

                setTimeout(function () {
                    $('#carritoModal').css("top", "-1000px");
                    $('#carritoModal').css("transition", "all .5s ease-in-out")
                }, 100);
                valor = 0;

            })

        }</script>

</head>
<body id="page-top">

    <!--INICIO MODAL-->

    <div class="modal fade" id="exampleModalToggle" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalToggleLabel">Opciones</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body d-flex justify-content-center align-items-center flex-column">
                    <a href="/DashBoard/Welcome"><i class="fa-solid fa-table-columns"></i> Mi DashBoard</a>
                    <a href="/Home/Salir" class="btn btn-link" style="color:red;"><i class="fa-solid fa-door-open"></i> Cerrar Session</a>
                </div>
            </div>
        </div>
    </div>
    <br />
    <!------>
    @{ double total = 0; }

    <div class="vw-100 vh-100  d-flex flex-row-reverse" id="carritoModal" style="padding-top: 50px;padding-right:25px; position: fixed; z-index:100;top:-1000px;">
        <div class="m-4 modal-fer" style="width:400px;background:white;height:400px;padding:10px 0px;box-shadow:1px 1px 30px gray;border-radius:15px; ">
            <div style="overflow:scroll;height:250px;overflow-x: hidden;background:white;">
                <table class="table table-hover">
                    <thead class="thead-dark">
                        <tr>
                            <th>Codigo</th>
                            <th>Descripcion</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Session["carrito"] != null)
                        {

                            foreach (var item in Session["carrito"] as List<CyberStyle.Models.CarritoItem>)
                            {
                                total += (Double)(item.Cantidad * item.Producto.precio);
            <tr>
                <td><img src="@Url.Action("getImage","Producto", new { id = item.Producto.idproducto})" width="70px"></td>
                <td>
                    <p style="font-size:13px;">@item.Producto.nombre<br>@item.Producto.descripcion<br><b>Cantidad</b>  @item.Cantidad</p>
                </td>
                <td>
                    <h6 class="text-center">@String.Format("{0:C}", @item.Cantidad * @item.Producto.precio)</h6>
                    <a class="btn btn-transparent" style="color:red;" href="@Url.Action("Eliminar","Home", new {Id=item.Producto.idproducto})">Eliminar</a>
                </td>
            </tr>
}
    }
                    </tbody>
                </table>
            </div>
            <div>
                <div class="d-flex justify-content-between m-0" style="background:white;padding:25px 30px 0px 30px">
                    <p>Subtotal</p>
                    <p>@String.Format("{0:C}", @total)</p>
                </div>
                <div class="d-flex justify-content-evenly" style="background: white">

                    <button class="btn bg-light" id="seguirComp">Seguir comprando</button>
                    <a href="@Url.Action("ValPago","Pago")" class="btn btn-warning">Comprar Ahora</a>
                </div>
            </div>
        </div>
    </div>

    <!--FIN DEL MODAL-->
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top shadow-sm" id="mainNav">
        <div class="container px-5">
            <a class="navbar-brand fw-bold" href="#page-top"><img src="../Content/Imagenes/logo.png" width="110px;" style="margin-top:-30px;position:absolute;"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                Menu
                <i class="bi-list"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ms-auto me-4 my-3 my-lg-0">
                    <li class="nav-item"><img id="openCart" src="../Content/Imagenes/shopping-cart.png"></li>
                </ul>
                @{ if (Session["user"] == null)
                    {

        <a href="/Usuario/Registro" class="btn btn-primary rounded-pill px-3 mb-2 mb-lg-0">
            <span class="d-flex align-items-center">
                <i class="bi-chat-text-fill me-2"></i>
                <span class="small">REGISTRARME</span>
            </span>
        </a>

                        <a href="/Usuario/Login" class="btn btn-primary rounded-pill px-3 mb-2 mb-lg-0">
                            Iniciar Sesion
                        </a> }
                    else
                    {
        <a href="/Producto/Index" class="btn btn-primary rounded-pill px-3 mb-2 mb-lg-0">
            Mi portal
        </a>
                        <a href="/Usuario/Salir" class="btn btn-primary rounded-pill px-3 mb-2 mb-lg-0">
                            Cerrar Sesión
                        </a> } }

            </div>
        </div>
    </nav>
    <!-- Mashead header-->
    <header class="masthead">
        <div class="container px-5">
            <div class="row gx-5 align-items-center">
                <div class="col-lg-6">
                    <!-- Mashead text and app badges-->
                    <div class="mb-5 mb-lg-0 text-center text-lg-start">
                        <h1 class="display-1 lh-1 mb-3" style="font-size:50px;">SUPER OFERTAS DE PRIMARERA</h1>
                        <p class="lead fw-normal text-muted mb-5">Diseños elegantes para hacer florecer su elegancia</p>
                        <div class="d-flex flex-column flex-lg-row align-items-center">
                            <a class="btn btn-primary" href="#!"><img class="app-badge" src="" alt="" />VER OFERTAS</a><b style="width:5px;"> </b>
                            <a href="/Usuario/Registro" class="btn btn-danger"><img class="app-badge" src="" alt="" />REGISTRARME</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <!-- Masthead device mockup feature-->
                    <div class="masthead-device-mockup">
                        <svg class="circle" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
                            <defs>
                                <linearGradient id="circleGradient" gradientTransform="rotate(45)">
                                    <stop class="gradient-start-color" offset="0%"></stop>
                                    <stop class="gradient-end-color" offset="100%"></stop>
                                </linearGradient>
                            </defs>
                        </svg><svg class="shape-1 d-none d-sm-block" viewBox="0 0 240.83 240.83" xmlns="http://www.w3.org/2000/svg">
                            <rect x="-32.54" y="78.39" width="305.92" height="84.05" rx="42.03" transform="translate(120.42 -49.88) rotate(45)"></rect>
                            <rect x="-32.54" y="78.39" width="305.92" height="84.05" rx="42.03" transform="translate(-49.88 120.42) rotate(-45)"></rect>
                        </svg><svg class="shape-2 d-none d-sm-block" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg"><circle cx="50" cy="50" r="50"></circle></svg>
                        <div class="">
                            <div class="device" data-device="" data-orientation="" data-color="black">
                                <img src="../Content/Imagenes/Prenda.png">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <br>
    <!-- App features section-->
    <section id="features">
        <h3 class="text-center" style="font-family:Arial;font-weight:bold;">Productos Mas Vendidos</h3>
        <div class="container px-5">
            <div class="row gx-5 align-items-center">

                @foreach (var item in Model)
                {
    <div class="card" style="width: 18rem;">
        <input type="hidden" value="@item.idproducto" />
        <img class="card-img-top" src="@Url.Action("getImage","Producto", new { id = item.idproducto})" alt="Card image cap">
        <div class="card-body">
            <p class="card-text">@item.nombre</p>
            <h6 class="text-center">@String.Format("{0:C}", @item.precio)</h6>
            <input type="number" class="form-control" min="1" value="value" style="width: 100px; margin-right: 5px; border: 1px solid #0ABBB0;" /><br />
            <button class="agregar btn btn-primary" style="width:100%;">Añadir al carrito</button>
        </div>
    </div>}


            </div>
        </div>
    </section>
    <hr />
    <section id="features">
        <h3 class="text-center" style="font-family:Arial;font-weight:bold;">Nuestros productos</h3>
        <div class="container px-5">
            <div class="row gx-5 align-items-center">
                @foreach (var item in ViewBag.lista02)
                {
    <div class="card" style="width: 18rem;height:500px;">
        <input type="hidden" value="@item.idproducto" />
        <img class="card-img-top" src="@Url.Action("getImage","Producto", new { id = item.idproducto})" alt="Card image cap">
        <div class="card-body">
            <b><p class="card-text">@item.nombre</p></b>
            <b><h6 class="text-center">@String.Format("{0:C}", @item.precio)</h6></b>
            <input type="number" class="form-control" min="1" value="1" style="width: 100px; margin-right: 5px; border: 1px solid #0ABBB0;" /><br />
            <button class="agregar btn btn-primary" style="width:100%;">Añadir al carrito</button>
        </div>
    </div>}
            </div>
        </div>
    </section>


    <!-- Basic features section-->
    <section class="bg-light">
        <div class="container px-5">
            <div class="row gx-5 align-items-center justify-content-center justify-content-lg-between">
                <div class="col-12 col-lg-5">
                    <h2 class="display-4 lh-1 mb-4">CIBERWOW!</h2>
                    <p class="lead fw-normal text-muted mb-5 mb-lg-0">Produtos hasta en 50% de descuento</p>
                </div>
                <div class="col-sm-8 col-md-6">
                    <div class="px-5 px-sm-0"><img class="img-fluid rounded-circle" src="https://img.freepik.com/foto-gratis/retrato-bella-modelo-sonriente-vestida-pantalones-cortos-verano-hipster-jeans-ropa_158538-3201.jpg?w=2000" alt="..." /></div>
                </div>
            </div>
        </div>
    </section>
    <!-- Call to action section-->
    <section class="cta">
        <div class="cta-content">
            <div class="container px-5">
                <h2 class="text-white display-1 lh-1 mb-4">
                    Utiliza a KIRA! nuestra
                    <br />
                    nueva asistente virtual!
                </h2>
                <a class="btn btn-outline-light py-3 px-4 rounded-pill" href="https://startbootstrap.com/theme/new-age" target="_blank">Download for free</a>
            </div>
        </div>
    </section>
    <!-- App badge section-->
    <section class="bg-gradient-primary-to-secondary" id="download">
        <div class="container px-5">
            <h2 class="text-center text-white font-alt mb-4">SUSCRIBETE</h2>
            <div class="d-flex flex-column flex-lg-row align-items-center justify-content-center">
                <input width="250px" type="text" class="form-control" />
            </div>
        </div>
    </section>
    <!-- Footer-->
    <footer class="bg-black text-center py-5">
        <div class="container px-5">
            <div class="text-white-50 small">
                <div class="mb-2">&copy; Todos los derechos reservados CIBERSTYLE</div>
                <a href="#!">Privacy</a>
                <span class="mx-1">&middot;</span>
                <a href="#!">Terms</a>
                <span class="mx-1">&middot;</span>
                <a href="#!">FAQ</a>
            </div>
        </div>
    </footer>
    <script>
        window.watsonAssistantChatOptions = {
            integrationID: "56785897-5dd7-45ad-ae02-39458dd43785", // The ID of this integration.
            region: "au-syd", // The region your integration is hosted in.
            serviceInstanceID: "ab7516c2-e0f5-4e57-b5f1-cc3f3e712847", // The ID of your service instance.
            onLoad: function (instance) { instance.render(); }
        };
        setTimeout(function () {
            const t = document.createElement('script');
            t.src = "https://web-chat.global.assistant.watson.appdomain.cloud/versions/" + (window.watsonAssistantChatOptions.clientVersion || 'latest') + "/WatsonAssistantChatEntry.js";
            document.head.appendChild(t);
        });
    </script>

    <script>
        $(function () {
            $(".agregar").on("click", function (event) {
                event.preventDefault();
                var Productoid = $(this).parent().parent().find("input:eq(0)").val();
                var cantidad = $(this).parent().parent().find("input:eq(1)").val();

                $.ajax(
                    {
                        url: "@Url.Action("AgregarCarrito", "Home")",
                        data: { id: Productoid, cantidad: cantidad },
                        type: "post",
                        success: function (response) {
                            window.location.href = "@Url.Action("AgregarCarrito","Home")"

                        },
                        error: function (err, error) {
                            alertify.error('Error');
                        }
                    }
                );
            });

            $(".numbers").keydown(function () {
                if ($.inArray(e.keycode, [46, 8, 9, 27, 13, 40]) !== 1 ||
                    (e.keycode == 65 && e.ctrlkey == true) ||
                    (e.keycode >= 35 && e.keycode <= 39)){
                    return;
                }

                if ((e.shiftkey || (e.keyCode < 48 || e.keycode > 57)) && (e.keyCode < 96 || e.keyCode > 185))
                {
                    e.preventDefault();
                }
            })
        })
    </script>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>


</body>
</html>
