@model CyberStyle.Models.Producto

@{
    ViewBag.Title = "Editar";
    Layout = null;
}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Productos</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>
<style>
    body {
        background: #2AA0E8;
        background: linear-gradient(to right, #2AA0E8,#DAE7F0);
    }

    .bag {
        background-image: url('https://i.pinimg.com/564x/29/ed/b0/29edb0e2fbf89df8361af5198d2e8354.jpg');
        background-position: center center;
    }
</style>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-dark  ">

        <div class="container-fluid">

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" style="color: white" href="/Producto/Index">Inicio<i class="fa-solid fa-house"></i></a>
                    </li>

                    @foreach (var item in Session["user"] as List<CyberStyle.Models.login_usuario_Result>)
                    {
                        if (item.idusuario == 1)
                        {
                            <li class="nav-item">
                                <a class="nav-link" style="color: white" href="/Producto/Listar">Productos<i class="fa-solid fa-shirt"></i></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" style="color: white" href="/Producto/ListadoCompras">Listado de compras<i class="fa-solid fa-cart-shopping"></i></a>
                            </li>
                        }
                    }

                    <li class="nav-item">
                        <a class="nav-link" style="color: white" href="/Producto/MisCompras">Mis Compras<i class="fa-solid fa-cart-shopping"></i></a>
                    </li>




                    <li class="nav-item " style="float: left;margin-left: 700px;">
                        <a class="nav-link" style="color: white" href="/Usuario/Salir">Cerrar Session<i class="fa-solid fa-power-off"></i></a>
                    </li>
                </ul>


            </div>



        </div>

    </nav>

    <center><h2 class="fw-bold text-center  ">Datos del Producto<img src="https://static.wixstatic.com/media/158d39_d33825bc378347048be3f7eeb451b465~mv2.gif" class="img-fluid " width="90px" height="900px"></h2></center>

    @using (Html.BeginForm("Edit", "Producto", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {



        <div class="container w-70 bg-primary mt-7 rounded shadow">
            <div class="row align-items-stretch">

                <div class="col bag d-none d-lg-block col-md-5 col-lg-5 col-xl-6 rounded">

                </div>

                <div class="col bg-white p-3 rounded-end">
                    <form>


                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })


                        @Html.LabelFor(model => model.idproducto, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-12">
                            @Html.EditorFor(model => model.idproducto, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.idproducto, "", new { @class = "text-danger" })
                        </div>


                        @Html.LabelFor(model => model.nombre, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-12">
                            @Html.EditorFor(model => model.nombre, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.nombre, "", new { @class = "text-danger" })
                        </div>


                        @Html.LabelFor(model => model.descripcion, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-12">
                            @Html.EditorFor(model => model.descripcion, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.descripcion, "", new { @class = "text-danger" })
                        </div>


                        @Html.LabelFor(model => model.precio, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-12">
                            @Html.EditorFor(model => model.precio, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.precio, "", new { @class = "text-danger" })
                        </div>



                        <label class="control-label col-md-2">Categoría</label>
                        <div class="col-md-12">
                            @Html.DropDownList("idcategoria", ViewData["categorias"] as SelectList, new { @class = "form-select" })
                            @Html.ValidationMessageFor(model => model.idcategoria, "", new { @class = "text-danger" })
                        </div>



                        @Html.LabelFor(model => model.stock, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-12">
                            @Html.EditorFor(model => model.stock, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.stock, "", new { @class = "text-danger" })
                        </div>



                        <label class="control-label col-md-2">Imagen</label>
                        <div class="col-md-12">
                            <input class="form-control" type="file" name="imageload" />
                            @Html.ValidationMessageFor(model => model.imagen, "", new { @class = "text-danger" })
                        </div>



                        @Html.LabelFor(model => model.estado, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-12">
                            <select name="estado" class="form-select">
                                @{
                                    if (Model.estado == "Activo")
                                    {
                                        <option value="Activo" selected>Activo</option>
                                        <option value="Eliminado">Eliminado</option>
                                    }
                                    else if (Model.estado == "Eliminado")
                                    {
                                        <option value="Activo">Activo</option>
                                        <option value="1Eliminado" selected>Eliminado</option>
                                    }
                                }
                            </select>
                            @Html.ValidationMessageFor(model => model.estado, "", new { @class = "text-danger" })
                        </div>



                        @Html.LabelFor(model => model.masvend, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-12">
                            <select name="masvend" class="form-select">
                                @{
                                    if (Model.masvend == 0)
                                    {
                                        <option value="0" selected>Menos vendido</option>
                                        <option value="1">Mas vendido</option>
                                    }
                                    else if (Model.masvend == 1)
                                    {
                                        <option value="0">Menos vendido</option>
                                        <option value="1" selected>Mas vendido</option>
                                    }
                                }
                            </select>
                            @Html.ValidationMessageFor(model => model.masvend, "", new { @class = "text-danger" })
                        </div>

                        <label></label>
                        <div class="row">

                            <div class="form-group col">
                                <button type="submit" class="btn btn-primary">Editar <i class="fa-solid fa-shirt"></i></button>
                            </div>

                            <div class="form-group col" style="float: left;margin-left: 130px;">


                                <a href="/Producto/Listar" class="btn btn-success">Regresar<i class="fa-solid fa-backward"></i></a>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
        <script src="https://kit.fontawesome.com/9a82813591.js" crossorigin="anonymous"></script>
    }

    <script>
        window.watsonAssistantChatOptions = {
            integrationID: "56785897-5dd7-45ad-ae02-39458dd43785", // The ID of this integration.
            region: "au-syd", // The region your integration is hosted in.
            serviceInstanceID: "ab7516c2-e0f5-4e57-b5f1-cc3f3e712847", // The ID of your service instance.
            onLoad: function (instance) { instance.render(); }
        };
        setTimeout(function () {
            const t = document.createElement('script');
            t.src = "https://web-chat.global.assistant.watson.appdomain.cloud/versions/" + (window.watsonAssistantChatOptions.clientVersion || 'latest') + "/WatsonAssistantChatEntry.js";
            document.head.appendChild(t);
        });
    </script>

</body>
</html>