@model CyberStyle.Models.Producto

@{
    ViewBag.Title = "Editar";
}

<h2>Edit</h2>

@using (Html.BeginForm("Edit", "Producto", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    
    
<div class="form-horizontal">
    <h4>Editar Producto</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    
    <div class="form-group">
        @Html.LabelFor(model => model.idproducto, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.idproducto, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.idproducto, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.nombre, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.nombre, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.nombre, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.descripcion, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.descripcion, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.descripcion, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.precio, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.precio, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.precio, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.idcategoria, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("idcategoria", ViewData["categorias"] as SelectList)
            @Html.ValidationMessageFor(model => model.idcategoria, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.stock, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.stock, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.stock, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2">Imagen</label>
        <div class="col-md-10">
            <input type="file" name="imageload" />
            @Html.ValidationMessageFor(model => model.imagen, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.estado, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <select name="estado" class="form-select">
                @{
                    if (Model.estado == "Activo")
                    {
                        <option value="Activo" selected>Activo</option>
                        <option value="Eliminado">Eliminado</option>
                    }
                    else if (Model.estado == "Eliminado")
                    {
                        <option value="Activo">Activo</option>
                        <option value="1Eliminado" selected>Eliminado</option>
                    }
                }
            </select>
            @Html.ValidationMessageFor(model => model.estado, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.masvend, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <select name="masvend" class="form-select">
                @{
                    if (Model.masvend == 0)
                    {
                        <option value="0" selected>Menos vendido</option>
                        <option value="1">Mas vendido</option>
                    }
                    else if (Model.masvend == 1)
                    {
                        <option value="0">Menos vendido</option>
                        <option value="1" selected>Mas vendido</option>
                    }
                }
            </select>
            @Html.ValidationMessageFor(model => model.masvend, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Editar" class="btn btn-primary" />
        </div>
    </div>
</div>
}

