@model IEnumerable<CyberStyle.Models.usp_ProductoListar_Result>

@{
    ViewBag.Title = "ProductoListar";
}

<h2>ProductoListar</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.idproducto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nombreproducto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nomcategoria)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.precio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.stock)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.foto)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.idproducto)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.nombreproducto)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.nomcategoria)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.precio)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.stock)
    </td>

    <td>
        @Html.DisplayFor(modelItem => item.foto)
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
        @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
        @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
    </td>
</tr>
}

</table>
